<!-- head job -->
<div class="jumbotron jumbotron-fluid" style="background-color: #018383;color: white">
  	<div class="container">
	  <h1>Anda kurang kerjaan?</h1>
	  <p>Kami hadir untuk menemani dan mencarikan kegabutan anda</p>
  	  <h4>
		<% if !current_user %>
			<%= link_to 'log in', new_session_path,class:'btn btn-warning',style:"color:white" %>
			<%= link_to 'sign up',sign_up_path,class:'btn btn-warning',style:"color:white"%>
		<% else %> 
			<%= link_to 'log out', session_path(current_user.id), method:"DELETE",class:"btn btn-warning",style:"color:white"%>
			<%= link_to 'new job',new_joblist_path,class:'btn btn-warning',style:"color:white"%>
		<% end %>
	  </h4>
	</div>
</div>

<!-- list job -->
<div class="card-columns" style="padding-right: 20px;padding-left: 20px;font-family: Trebuchet;">
	<% @joblists.each do |job|%>
		<div class="card bg-light"  style="color:#02a8a8;tex">
		    <div class="card-body text-center" style="background-color: #f5dea3">
				<h2><strong><%= job.title %></strong></h2>
				<div class="btn-group">
				<% if !current_user %>
					<%= link_to 'readmore',joblist_path(job.id),class:'btn btn-info'%>
				<% elsif current_user.username  == 'Admin' %>
					<%= link_to 'readmore',joblist_path(job.id),class:'btn btn-info'%>
					<%= link_to 'edit',edit_joblist_path(job.id),class:'btn btn-secondary'%>
					<%= link_to 'delete',joblist_path(job.id),method:'delete',data:{confirm:"delete this fucking job?"},class:'btn btn-secondary'%>
				<% else %>
					<%= link_to 'readmore',joblist_path(job.id),class:'btn btn-info'%>
				<% end %>
				</div>
				<hr/>
				<% if job.status == 'available'%>
					<i style="color:green">status : <%= job.status %></i></p>
				<% else %>
					<i style="color:red">status : <%= job.status %></i></p>
				<% end %>
			</div>
		</div>
	<% end %>
</div>